@tailwind base;
@tailwind components;
@tailwind utilities;



.img1{
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}
.img2{
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}
.img3{
  transform: rotate(349deg);
  -webkit-transform: rotate(349deg);
  -moz-transform: rotate(349deg);
  -ms-transform: rotate(349deg);
  -o-transform: rotate(349deg);
}

.img4{
  transform: rotate(349deg);
  -webkit-transform: rotate(349deg);
  -moz-transform: rotate(349deg);
  -ms-transform: rotate(349deg);
  -o-transform: rotate(349deg);
}